@import url('https://fonts.googleapis.com/css?family=Arimo|Lobster');
* {
	box-sizing: border-box;
	color: #212121;
	margin: 0;
	padding: 0;
	font-family: 'Arimo', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
}
h1, .vowel {
	font-weight: bold;
}
a {
	text-decoration: none;
	font-size: 22px;
	position: relative;
}
a::after {
	content: '';
	width: 0;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #333;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	position: absolute;
}
a:hover::after {
	width: 100%;
}
.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(110.16459274854196deg, #9999FF 6.0143288084464555%,#f6f6f6 95.75791855203619%);
}
.word-block {
	padding: 30px 50px;
	border: 5px #6633CC solid;
	max-width: 100%;
}
.quest {
	letter-spacing: 3px;
	cursor: default;
	text-align: center;
	line-height: 40px;
}
.vowel {
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	padding: 0px 3px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.1);
}
.vowel:hover {
	background-color: rgba(0,0,0,0.4);
}
.answer-block {
	font-size: 22px;
	text-align: center;
	display: none;
}
.button-wrapper {
	position: relative;
	margin-top: 16px;
}
.next {
	position: relative;
	padding: 7px 20px;
	border: 1px #333 solid;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
	transition: .3s ease;
	overflow: hidden;
}
.next:before {
	content: 'Продолжить';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
	opacity: 0;
	transition: .3s ease;
}
.next:after {
  content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #333;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transition: .3s ease;
}
.next:hover:after {
	transform: scaleX(1);
}
.next:hover:before {
	opacity: 1;
}
.version {
	position: fixed;
	right: 30px;
	bottom: 30px;
	color: #333;
	font-size: 14px;
}
.modal-menu {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	background-color: rgba(0,0,0,0.9);
	z-index: 10000;
}
.btn {
	position: absolute;
	left: 30px;
	top: -50px;
	background-color: #333;
	padding: 20px;
	border-radius: 20px;
	cursor: pointer;
}
.btn:nth-of-type(2) {
	top: 30px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.btn span {
	background-color: #fff;
	position: absolute;
	width: 2px;
	height: 20px;
	top: 10px;
	left: 19px;
}
.btn span:nth-of-type(2) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 10px;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
}
.btn span:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: 10px;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
}
.modal-menu .minidiv h3 {
	color: #fff;
	padding: 6px 12px;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
	cursor: pointer;
}
.modal-menu .minidiv h3:hover {
	background-color: rgba(255,255,255,0.3);
}
.modal {
	background-color: #fff;
	height: calc(100vh - 160px);
	padding: 20px;
	padding-bottom: 80px;
	overflow-y: scroll;
	display: none;
	position: relative;
}
.modal::-webkit-scrollbar {
  width: 16px;
}
.modal::-webkit-scrollbar-track {
  background: #c9c9c9;
}
.modal::-webkit-scrollbar-thumb {
  background: #585858;
}
.modal::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
.grid-system {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 80px 7vw;
}
.big-letter {
	font-size: 40px;
	margin: 8px;
	position: relative;
	font-family: 'Lobster', cursive;
}
.big-letter::after {
	content: '';
	width: 30%;
	height: 2px;
	background-color: #333;
	position: absolute;
	left: 0;
	bottom: 0;
}
.words {
	margin: 6px 32px;
	font-size: 18px;
}
.length-block {
	font-size: 24px;
	border-bottom: 1px #333 solid;
}
input[type=text] {
	width: 100%;
	padding: 12px;
	border: none;
	border-bottom: 1px #333 solid;
	font-size: 18px;
	outline: none;
	border-radius: 1px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
input[type=text]:hover {
	background: rgba(0,0,0,0.05);
}
input[type=text]:focus {
	background-color: rgba(0,0,0,0.1);
}
.search-results {
	padding: 20px;
	font-size: 18px;
	line-height: 23px;
}
.clear-input {
	background-color: rgba(0,0,0,0.1);
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border: none;
  outline: none;
  line-height: 45px;
  padding: 0 10px;
}
.clear-input::before, .clear-input::after {
	content: '';
	width: 18px;
	height: 2px;
	position: absolute;
	background-color: #333;
	border-radius: 1px;
}
.clear-input:hover {
	background-color: rgba(0,0,0,0.15);
}
.author-link span {
	font-weight: bold;
}
.footer {
	position: absolute;
	width: 100%;
	height: 62px;
	bottom: 0;
	left: 0;
	background-color: #ececec;
}
@media (max-width: 1000px) {
	.grid-system {
		grid-template-columns: 1fr;
		margin: 80px 5vw;
		grid-gap: 10px;
	}
	.big-letter {
		font-size: 32px;
		margin: 4px;
	}
	.modal {
		height: 65vh;
	}
}
