@media screen and (max-width: 765px) {
  .task__cont{
      flex-direction: column !important;
  }
}

.App{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.task__name{
  font-weight: 800;
  font-size: 4rem;
  margin: 30px;
}
.task__desc{
  margin: 0.5rem;
  font-size: 1.2rem;
}
.task__cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.task__check{
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.task__check__clearness{
  margin: 0.5rem;
  font-size: 1.2rem;
}