@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --white: #EFEFF7;
    --lightblue: #93B7CF;
    --blue: #5749B1;
    --purple: #BAA6F2;
    --black: #2B2B2B;
    --green: green;
    --red: red;
}

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
}

